.Header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 96px;
    margin-top: 35px;
    padding: 0 200px;
}

.Logo {
    display: flex;
    justify-content: left;
    width: 33%;
    cursor: pointer;
}

.MidMenuBar {
    display: flex;
    width: 33%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SearchForm {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 50%;
}

.SearchBar {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid;
    border-color: rgba(0, 0, 0, 0.5)
}

.SearchButton {
    width: 40px;
    height: fit-content;
    position: absolute;
}

.MidMenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    margin-top: 10px;
}

.SideMenuBar {
    display: flex;
    width: 33%;
    justify-content: right;
    align-items: center;
    gap: 15px;
    font-size: 14px;
}

.ImageButton {
    width: 50px;
}

@media screen and (max-width: 1080px) {
    .Header {
        padding: 0 150px;
    }

    .SearchButton {
        width: 30px;
    }
    
    .MidMenu {
        font-size: 12px;
    }
    
    .SideMenuBar {
        gap: 8px;
    }
    
    .ImageButton {
        font-size: 10px;
    }
}